.open {
	display: block;
	text-align: left;
}
.closed {
	display: none;
}
li {
	list-style-type: none;
	font-size: 18px;
}
a:link {
	text-decoration: none;
}
#item {
	margin-left: 25px;
}
#line {
	font-size: 20px;
	margin-top: 10px;
}
#header, #menu  {
	text-align: center;
}
#breakfast button, #lunch button, #dinner button {
	width: 100%;
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #A4A4A4;
	border-radius: 10px;
	border-width: 0px;
	color: #FFFF00;
}
#container {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
#menu_item, #menu_item_left, #menu_item_right {
	color: #FFFF00;
	text-align: center;
	float: left;
	width: 98%;
	background-color: #A4A4A4;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	height: 50px;
	border-radius: 10px;
	border-width: 0px;
}
#menu_item {
	float: left;
	width: 98%;
}
#menu_item_left {
	float: left;
	width: 45%;
}
#menu_item_right {
	float: right;
	width: 45%;
}

/* for 480px or less */
@media screen and (max-width: 480px){
	#container {
		width: 100%;
	}
}